{% extends "wikisite/base.html" %}
{% load staticfiles %}

{% block title %} Login {% endblock %}
{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <img src="{% static "images/user.jpg" %}" alt="Login" style="width:304px;height:300px;/>
    <table align="center">
        <tr>
            <td style="padding-left: 2%">
	
	
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <input type="submit" value="login"/>
        <input type="hidden" name="next" value="{{ next }}"/>
    </form>
	</td>
	</tr>
	</table>
{% endblock %}